@import "/src/style/mixins";

a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: unset;
}

.post-wrapper {
  .post-wrapper {
    width: 97%;
    min-width: 450px;
    @include media-breakpoint-down(sm) {
      min-width: unset;
    }
  }
  .title {
    color: $black;
    text-decoration: none;
    font-weight: 500;
  }
  .comments-continer {
    p {
      color: $black;
      text-decoration: none;
    }
  }
  .user-name-email {
    color: $dodgerblue;
    text-decoration: none;
  }
}
