@import "/src/style/mixins";

.post-wrapper {
  width: 100%;
  min-width: 500px;
  border: 1px solid $dodgerblue;
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: rgba($dodgerblue, 0.1);
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    min-width: unset;
  }
}
